@{
    Page.Title = "Exercise03";
    Layout = "~/_Layout.cshtml";

    var button = Request.Form["button"];

    var title = "";
    var artistid = "";
    var year = "";
    var label = "";

    var db = Database.Open("CDB");
    var artcommand = "SELECT ArtistId, Name FROM Artists ORDER BY name";
    var artresult = db.Query(artcommand);

    Validation.Add("Title",
        Validator.Required("Title is required"),
        Validator.StringLength(160, 0, "Title is limited to 160 characters"));

    Validation.Add("ArtistId",
        Validator.Required("Artist Id is required"));

    Validation.Add("ReleaseYear",
        Validator.Required("Release year is required"),
        Validator.Range(1950, 2019, "Year is out range,1950 to today"));

    Validation.Add("ReleaseLabel",
        Validator.Required("Release Label is required"),
        Validator.StringLength(50, 0, "Label is limited to 50 characters"));
}

@section pagetitle{
    <h1>Exercise 3:DateBase Data Entry</h1>
}

@if (IsPost)
{
    if (button.Equals("clear"))
    {
        <p>Data is clear and reset by user</p>
    }
    else
    {
        title = Request.Form["Title"];
        artistid = Request.Form["ArtistId"];
        year = Request.Form["ReleaseYear"];
        label = Request.Form["ReleaseLabel"];

        var valid = true;
        if (Validation.IsValid())
        {
            if (artistid.Equals("0"))
            {
                valid = false;
                <p>You need to select an Artist.</p>
            }
            if (valid)
            {
                try
                {
                    var inscommand = @"INSERT INTO Albums (Title, ArtistId, ReleaseYear, ReleaseLabel)
    VALUES(@0, @1, @2, @3)";

                    db.Execute(inscommand, title,
                        artistid.Equals("0") ? null : artistid,
                        string.IsNullOrEmpty(year) ? null : year,
                        string.IsNullOrEmpty(label) ? null : label);
                    <div class="col-12 text-center">
                        <p style="color:green">
                            Album has been added
                        </p>
                    </div>
                }
                catch (Exception ex)
                {
                    <div class="col-12 text-center">
                        <p style="color:firebrick; font-size:large">
                            Processing error: @ex.Message
                        </p>
                    </div>
                }
            }
        }
    }
}
@Html.ValidationSummary()

<form id="EX03" method="post">
    <div class="row">
        <div class="col-md-6 text-right">
            <label for="Title">Title:</label><br />
            <label for="ArtistId">Artist:</label><br />
            <label for="ReleaseYear">Year:</label><br />
            <label for="ReleaseLabel">Label:</label><br />
            <br />
        </div>
        <div class="col-me-6 text-left">
            <input type="text" value="@title"
                   id="Title" name="Title"  />
            @Html.ValidationMessage("Title")
            <br />
            <select id="ArtistId" name="ArtistId">
                <option value="0">select...</option>
                @foreach (var item in artresult)
                {
                    if (item.ArtistId.ToString() == artistid)
                    {
                        <option value="@item[0]" selected>@item[1]</option>
                    }
                    else
                    {
                        <option value="@item[0]">@item[1]</option>
                    }
                }
            </select>
            <br />
            <input type="number" id="ReleaseYear" name="ReleaseYear"
                   value="@year" /><br />
            <input type="text" id="ReleaseLabel" name="ReleaseLabel"
                   value="@label" /><br />
        </div>
    </div>

    <div class="row">
        <div class="col-sm-11 text-center">
            <button type="submit" name="button" value="submit"
                    class="btn btn-primary">
                Add
            </button> &nbsp;&nbsp;
            <button type="submit" name="button" value="clear"
                    class="btn" formnovalidate>
                Clear
            </button>
        </div>
    </div>
</form>